body {
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 47px;
  font-weight: bold;
}

/* COLORS */

.purple-background {
  background: rgb(39, 16, 167);
}

.deep-purple-bg {
  background: rgb(52, 39, 82);
}

.bg-deep-blue {
  background: rgb(16, 94, 167);
}

.bg-blue-gray {
  background: rgb(117, 141, 167);
}

.bg-red {
  background: #dc0e22;
}

/* BUTTONS */

.btn-gray {
  border: 2px solid rgb(117, 141, 167);
}

.btn-gray:hover {
  background: #fff;
  border: 2px solid rgb(117, 141, 167);
  color: rgb(117, 141, 167) !important;
}

/* HOME-PAGE */

nav a {
  color: #000;
  font-weight: bold;
}

.navbar-brand {
  font-size: 30px;
}

#home-header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/step-header-img.jpg);
  background-size: cover;
  background-position: bottom;
}

#home-header h1 {
  font-size: 90px;
  font-family: "Pacifico", cursive;
  color: #fff;
}

#home-header h2 {
  font-size: 40px;
  font-family: "Aleo", serif;
}

/* TILE-SLIDER-PLUGIN */

.tiles-slider {
  padding: 0;
  list-style-type: none;
  overflow: auto;
  margin-bottom: 0;
  background: #000;
}

.tiles-slider li {
  width: 25%;
  float: left;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.tiles-slider img {
  width: 100%;
}

.tiles-slider li:first-child {
  width: 50%;
}

.shrink-tile {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.tiles-slider li:first-child.shrink-tile {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  transform: scale(0.25);
}

/* END-OF-PLUGIN */

#image-slider h2 {
  font-size: 47px;
}

.home-icons {
  font-size: 150px;
}

#home-icons div.expand {
  display: none;
  overflow: auto;
}
#home-icons h3 {
  font-size: 50px;
}

#home-icons h3,
i:hover {
  cursor: pointer;
}

#home-icons a {
  border: 2px solid rgb(52, 39, 82);
}

#home-icons a:hover {
  background: #fff;
  color: rgb(52, 39, 82) !important;
}

#training h2 {
  font-size: 47px;
}

#quote-fader {
  border-radius: 1em;
}

.quote-slider {
  display: none;
  font-size: 30px;
  font-style: italic;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.quote-slider:first-of-type {
  display: block;
}

#quote-icon {
  font-size: 50px;
  float: left;
  font-style: italic;
  margin-top: -30px;
}

#denim-girl-img {
  min-height: 900px;
}

#book-teacher-img {
  opacity: 0.8;
}

hr {
  border-top: none;
  border-bottom: 1px solid black;
  width: 75%;
}

#wrapper h2 {
  font-size: 47px;
}

/* HOME-PAGE-CARDS */

.slide-link:hover {
  text-decoration: none;
}

.slide-link > h3:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slide-link > h3 {
  transition: background-color 0.3s;
  color: #fff;
}

.slide-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
  text-decoration: none;
}

.slide-link:hover::after {
  width: 100%;
  text-decoration: none;
}

/* HOME-LIGHTBOX */

#home-lightbox a > img {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

#home-lightbox a > img:hover {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0.5;
}

#lightbox-header h2 {
  font-size: 47px;
  min-height: 200px;
  background-color: rgb(52, 39, 82);
}
/* END OF LIGHTBOX */

/* HOME PAGE QUESTIONS AND ANSWERS */

#questions-and-answers {
  background: rgb(52, 39, 82) !important;
}

#collapseOne,
#collapseTwo,
#collapseThree .card-body {
  background: rgb(39, 16, 167);
  color: #fff;
}

#questions-and-answers .card-header {
  background: #6d6d6d;
  color: #fff;
}

#questions-and-answers h3 {
  font-size: 47px;
}

#footer hr {
  border-bottom: 1px solid #fff;
}

#top-footer-text p {
  float: left;

  margin-left: 30px;
  cursor: pointer;
}

#footer i {
  font-size: 30px;
  margin-left: 20px;
  float: right;
}

#top-footer-text .fab:hover {
  color: rgba(233, 219, 219, 0.747);
}

#top-footer-text a > p:hover {
  color: rgba(233, 219, 219, 0.747);
}

/*  MEDIA QUERIES - HOME PAGE */

@media screen and (max-width: 500px) {
  .quote-slip {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #home-icons i {
    margin-top: 2rem;
  }
  #image-slider {
    padding-top: 5rem;
  }

  #cards .card {
    margin-bottom: 2rem;
  }

  #home-lightbox a > img {
    margin-bottom: 2rem;
    border: 20px solid #fff;
  }
  #top-footer-text i {
    float: none;
  }
  #top-footer-text p {
    float: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .quote-slider {
    font-size: 15px;
  }
  #teacher-slider {
    margin-bottom: auto;
    margin-top: auto;
  }
  #quote-icon {
    font-size: 20px;
    margin-top: 0px;
  }
}

/* ABOUT PAGE */

#about-hero {
  height: 550px;
}

#about-hero {
  background-image: url("../images/group-fun.jpg");
  background-attachment: fixed;
  background-position: 0 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 400px;
}
#about-hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

#about-hero p {
  font-size: 20px;
}

#about-header {
  min-height: 300px;
}

/* STAFF AND VOLUNTEERS */

#staff-and-volunteers img {
  height: 200px;
  width: 200px;
}

/* LATEST NEWS */

#latest-news {
  min-height: 300px;
}

#latest-news .fas {
  font-size: 200px;
  width: 300px;
  height: 300px;
}

.blue-link {
  color: #007bff;
}

/* GROUPS PAGE */

#current-groups i {
  font-size: 150px;
}

#testimonials-header {
  background-image: url("../images/festival-girls.jpg");
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 400px;
}

#testimonials-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#testimonials-header .carousel-item {
  margin-bottom: 50px;
  width: 400px;
}

#testimonial-slider img {
  height: 200px;
  width: 200px;
}

#contact-info a:hover {
  color: #000;
}

.btn-hover-outline {
  border: 2px solid #007bff;
}

.btn-hover-outline:hover {
  background-color: #fff !important;
  border: 2px solid #007bff;
  color: #007bff !important;
}

/*  SUPPORTERS PAGE */

.slide-link a:hover {
  background-color: none;
  text-decoration: none;
}

.slide-link > a {
  position: relative;
  display: inline-block;
  transition: background-color 0.3s;
}

.slide-link a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(52, 39, 82);
  transition: width 0.3s;
  text-decoration: none;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.slide-link a:hover::after {
  width: 100%;
  text-decoration: none;
}

#companies a {
  font-size: 20px;
  color: rgb(52, 39, 82);
}

#companies i {
  margin-right: 5px;
}

#trustees-images img {
  width: 200px;
  height: 200px;
}

#companies .fa-facebook {
  font-size: 100px;
}

.facebook-wrapper:hover {
  opacity: 0.7;
  text-decoration: none;
}

/* CONTACT PAGE  */

/*  HEADER */

#contact-us {
  background-image: url("../images/teenagers-on-wall.jpg");
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}
#contact-us::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

#contact-us p {
  font-size: 20px;
}

/* CONTACT-FORM */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type="submit"] {
  border: 2px solid #007bff;
}
input[type="submit"]:hover {
  background-color: #fff !important;
  border: 2px solid #007bff;
  color: #007bff !important;
}
